/* CSS declarations go here */

/* global/text */

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: Lato;
    background: url(/img/ticks_@2X.png);
}

h1 {
    font-weight: 900;
    margin-bottom: .5em;
}

hr {
    height: 1px;
    margin: 1em 0;
    border: 0;
    border-bottom: thin solid #ccc;
}

button {
    padding: .5em 1em;
    border-radius: .25em;
    background: -webkit-linear-gradient(top, #eee 0, #ddd 33%, #fff 80%);
    border: thin solid #ccc;
}

p {
    margin: .5em 0;
}

/* overall structure */

#wrap {
    width: 80em;
    margin: 0 auto 1em;
    padding: 2em 1em;
    background: white;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.25);
}

#wrap:after {
    content: "";
    display: table;
    clear: both;
}

#main {
    width: 59em;
    float: left;
}

#meta {
    width: 19em;
    float: left;
}

/* modules */

.user h3 {
    font-weight: 100;
    font-style: italic;
}

li.talk, li.user {
    list-style: none;
}

li.talk {
    margin: 1em 1em 1em 0;
    padding: 1em;
    background-color: #f7f6e7;
}

img.thumb {
    max-width: 80px;
    max-height: 80px;
}